@font-face {
    font-size: 1.2rem;
    font-family: 'Roboto';
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

.header {
    margin-bottom: 30px;
    margin-left: 30px;
}
.header a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.about {
    margin-left: 30px;
    font-size: 1.2rem;
    font-family: 'Roboto';
}

.about img {
    height: 300px;
    text-align: center;
}

body {

    font-family: 'Roboto';
    margin: 0;
    border: 0;

}
.list {
    margin-left: 30px;
}
.list ul {
    padding-left: 0px;
}


.table {
    margin-left: 30px;
}
table {
    background-color: black;
}
tr, th {
    background-color: white;
    text-align: center;
    padding: 0.5rem;
}

footer {
    color: white;
    background-color: #000;
    margin-top: 20px;
    padding: 10px;
}